.resume-history {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: end;

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 760/480;
    object-fit: cover;
    padding-bottom: 2rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: $blue;
  }

  &__text {
    font-size: 1.2rem;
  }
}