.images {
  background: linear-gradient(to bottom, $blue, $white);
  padding: 50px 5vw;
  &__title {
      color: $white;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 0px;
  }
  &__content {
    display: flex;
    // make it in wrap with 3 items in a row
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
    margin: auto;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        width: 90vw;
    }
    
    &__item {
      width: 25vw;
      height: 25vw;
      flex-shrink: 0;
      object-fit: cover;
      border-radius: 5%;
      overflow: hidden;
      margin: 50px 0;
      @media screen and (max-width: 768px) {
            width: 100%;
            height: 100%;        
      }
    }
  }
}